<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Redis PoC </title>
    <%= javascript_include_tag 'jquery-1.4.2.min.js'%>
    <%= javascript_include_tag 'jquery.autocomplete.js' %>
    <%= stylesheet_link_tag 'jquery.autocomplete.css' %>
</head>
<body>
  <%= text_field_tag :q, '', :autocomplete => 'off', :id => 'redis-autocomplete', :size => "100" -%>

  <script type="text/javascript">
  $(document).ready(function() {
    $("#redis-autocomplete").autocomplete("/redis/people/autocomplete", {
     dataType: 'json',
     selectFirst: true,
     cacheLength: null,
     matchSubset: false,
     parse: function(data) {
       return $.map(data, function(row) {
         return {
           data: row,
           value: row.preferred_name
         }
       });
     },
     formatItem: function(item) {
       return item;
     }
   });
  });
  </script>
</body>
</html>
